<div class="sports-module">
  <h2><%= data[:team] ? data[:team] : 'Cleveland Browns' %> Schedule</h2>
  <div class="sports-info">
    <div class="sports-schedule">
      <% data[:games].each do |game| %>
        <div class="game">
          <h3 class="week">Week <%= game[:week] %> <span>(<%= DateTime.parse(game[:date]).in_time_zone('Eastern Time (US & Canada)').strftime('%A, %b %d, %Y %I:%M %p %Z') %>)</span></h3>
          <div class="teams">
            <span class="home-team"><%= game[:home] %></span> vs
            <span class="away-team"><%= game[:away] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .sports-module h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 25px;
  }

  .sports-info {
    text-align: center;
  }

  .sports-schedule {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 30px;
  }

  .game {
    break-inside: avoid;
    background: #f9f9f9;
    color: #666;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 15px;
  }

  .game h3 {
    margin: 0 0 5px;
    color: #333;
  }

  .week span {
    font-size: 0.8em;
    color: #333;
  }
</style>
